{% extends 'base.html' %} {% block content %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Noto+Serif+KR|Oswald" rel="stylesheet">
<div class="jumbotron" style="text-align:center; background-color:white;">
  <h1 style="font-family:


'Open Sans', sans-serif;">GENERAL BLOGPOSTS</h1>




  {% for blogpost in blogposts [::-1] %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ blogpost.user.username }}</a>
        <small class="text-muted">{{ blogpost.time }}</small>
      </div>

      <h2><a class="article-title" href="{{ url_for('main.blogpost', blogpost_id=blogpost.id) }}">{{ blogpost.title }}</a></h2>
      <p class="article-content">{{ blogpost.content }}</p>
      <p class="article-content">{{ blogpost.category_id }}</p>


      <button type="button" class="btn btn-success btn-lg"><a href="/blogpost/edit/{{blogpost.id}}">

          Edit</a></button>

      <button type="button" class="btn btn-warning btn-lg"><a href="/blogpost/delete/{{blogpost.id}}">
          Delete</a></button>





    </div>
  </article>
  {% endfor %}
</div>
{% endblock content %}