<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"> The Blog Post </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>

        <li><a href="{{url_for('main.blogpost_list')}}">All Blog Posts</a></li>

      </ul>
      </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}

        <li><a class="nav-item nav-link" href="{{ url_for('main.new_blogpost') }}">Submit A Blog Post</a></li>

        <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
        <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
        {% else %}
        <li><a href="{{url_for('auth.register')}}">Register</a></li>
        <li class="divider"></li>
        <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
        {% endif %}
      </ul>

    </div>
  </div>
</div>